/*
Theme Name: Grupo Connvert
Version: 1.0
Author: Solução Digital
Author URI: https://solucao.digital/
*/

* {padding: 0; margin: 0; box-sizing: border-box; outline: none !important; font-family: 'Montserrat', sans-serif; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
ul{margin-left: 0; padding-bottom: 0; margin-bottom: 0;}
a {text-decoration: none !important; transition: 0.4s; display: inline-block;}
img{max-width: 100%; display: block;}
header li, footer li{list-style: none;}
button, input[type=submit] {cursor: pointer; transition: 0.4s;}
body {overflow-x: hidden;background-color: #fff; width: 100%;}
header, footer, section {float: left; display: block; width: 100%;}
.wrap-page {float: left; width: 100%; overflow: hidden;padding-top: 110px;}
p {font-size: 16px; line-height: 1.4em; color: #16151C; margin-bottom: 20px; font-weight: 300;}
p:last-of-type {margin-bottom: 0;}
p strong{font-weight: 600}
.p-extra p {font-size: 18px;}
span{display: inline-block;}
h1, h2, h3{font-weight: 400; color:#12304B }
h2 strong, h1 strong {font-weight: 600;}
.hide-h1 {color: transparent; margin-bottom: 0; font-size: 0; line-height: 0;}
.custom-file .wpcf7-form-control-wrap {position: initial;}
.custom-file-label::after {content: "Selecione..."; line-height: 55px; height: 55px; border: none; background: none; font-size: 18px; color: #b2b2b2; padding: 0 20px 0 15px; background: #FFF; font-weight: 400;}
.custom-file-input {height: 55px;}
.custom-file {height: 55px; background: #FFF; display: block; overflow: hidden; cursor: pointer; border-radius: 4px; white-space: nowrap; border: 1px solid #e6e6e6;}
.custom-file-label {height: 55px; background: none; border: none; line-height: 60px; padding: 0 0 0 20px; font-size: 16px; color: #808080; text-transform: initial; border-radius: 4px; font-weight: 300 !important; display: block !important;}
::-webkit-input-placeholder {color: #999999;}
::-moz-placeholder {color: #999999;}
:-ms-input-placeholder {color: #999999;}
:-moz-placeholder {color: #999999;}

body::-webkit-scrollbar {    border: none;    background: #345777;    width: 10px;}
body::-webkit-scrollbar-button {    display: none;}
body::-webkit-scrollbar-thumb {    background: #16151C;    border-radius: 5px;}

/*::-webkit-scrollbar { border: none;background: 0 0; width: 0;opacity: 0; height: 2px }*/
/*::-webkit-scrollbar-button{display: none}*/
/*::-webkit-scrollbar-track-piece, .list-title::-webkit-scrollbar-track{background: none}*/
/*::-webkit-scrollbar-thumb{background: #000;border-radius: 5px; height: 2px;}*/


header {padding: 40px 0 30px; z-index: 9999;background: #16151C; position: fixed;top: 0;}
header .container{display:flex; grid-template-columns: 1fr auto; justify-content: space-between;    align-items: center;}
header nav ul li a {display: table; font-size: 13px; color: #fff; text-transform: uppercase; line-height: 40px;}
header.fixed {padding: 15px 0;}
header .logo {float: left; padding: 2px 0;}
header nav {float: left; padding-left: 25px;}
header nav ul {display: flex;}
header nav ul li {float: left; position: relative;font-size: 0;}
nav ul li a:hover {color: #b2b2b2;}
header nav ul li + li{margin-left: 30px;}
header .open-menu {display: none;color: #fff;}

footer .top-footer {padding: 60px 0 110px; background: #16151C;}
footer .top-footer .logo {display: table; margin: 0 3px; max-width: 203px;}
footer .top-footer p {line-height: 20px; color: #FFFFFF;margin-top: 10px;}
footer  .box-address  *{font-size: 13px;}
footer .box-address {line-height: 22px; color: #fff; margin-bottom: 10px;}
footer  a {color: #fff;}
footer .box-address .contet-address p{margin-bottom: 0;}
footer .info-contato {margin-bottom: 30px;}
footer .footer-menu ul li {margin-bottom: 7px;}
footer .footer-menu ul li a {font-size: 15px; line-height: 16px;text-transform: uppercase;}
footer  a:hover {color: #b2b2b2;}
footer .copy {display: table; width: 100%; background: #262626; padding: 20px 0;}
footer .copy span {float: left;  font-size: 15px; line-height: 20px; padding: 3px 0; color: #b2b2b2;}
footer .copy a {float: right;}
footer .copy a:hover {opacity: .8}
footer .logo-empresas{ display: flex;margin-top: 70px;}
footer .logo-empresas a{ position: relative;}
footer .logo-empresas a img{width: 55px}
footer .logo-empresas a + a{ margin-left: 20px;}
footer .logo-empresas a:after{ content: '';display: inline-block;height: 20px;right: -10px;top: -5px;width: 1px;position: absolute;background-color: grey;}
footer .logo-empresas a:last-of-type:after{ display: none;}
footer .logo-empresas a:last-of-type img{position: relative;  bottom: -2px;}
footer .logo-empresas a:hover img{ opacity: .8;}
footer .redes-sociais{float: right}
footer .redes-sociais li{margin-bottom: 10px;}
footer .redes-sociais i{font-size: 30px; width: 26px; height: 30px; transition: 0.4s;}
footer .redes-sociais i:hover {background-color: #b2b2b2;}

/* Padrão  */
.logo{max-width: 155px; height: auto}
.title, .title-large{font-size: 28px;font-weight: 800;line-height: 1.2em;text-transform: uppercase;}
.title-large{font-size: 50px;}
.bt{ background-color: transparent;border: 2px solid #12304b;color: #12304b;font-size: 14px;font-weight: 700;text-transform: uppercase;padding: 0 20px 2px;line-height: 42px;height: 42px;}
.bt-white{ border-color: #fff;color: #fff;}
.bt:hover{ background-color: #12304b;color: #fff;}
.bt-white:hover{color: #16151C;background-color: #fff;}
.bt-vazado{border: none;padding: 0 0 0;font-weight: 400; color: #1B5168;}
.bt-vazado::after{ content: '';margin-left: 10px; width: 12px; height: 12px; background-color: #1b5168;}
.bt-vazado:hover{background: none;color: #1B5168;font-weight: 600}
.text-line p{line-height: 30px}
.sec-dark {margin-top:30px;overflow:hidden;position: relative;}
.sec-dark * {color: #fff;}
.subpage{padding: 140px 0 0;border-bottom: 1px solid #16151C;}
#breadcrumbs { color: #16151C; font-size: 16px; line-height: 30px; text-transform: initial; padding: 15px 0 60px;}
#breadcrumbs a { text-decoration: underline;color: #16151C;}
#breadcrumbs > span > span:first-child, #breadcrumbs li:first-child{font-weight: 700;}
#breadcrumbs li{display: inline-block; padding-right: 10px}

/*sub-menu*/
.breadcrumbs { color: #16151C; font-size: 16px; line-height: 30px; text-transform: initial; padding: 15px 0 60px;}
.breadcrumbs a { text-decoration: underline;color: #16151C; cursor: pointer}
.breadcrumbs > span > span:first-child, .breadcrumbs li:first-child{font-weight: 700;}
.breadcrumbs li{display: inline-block; padding-right: 10px}

/*Paginas Single */
.content-single-post{padding: 140px 0;background-color: #fff}
.content-single-post .post-release .breadcrumbs li:first-child{font-weight: 400}
.content-single-post .post-release .breadcrumbs li:last-child{font-weight: 700}
.content-single-post .inner-post{border-bottom: 1px solid #16151C;border-top: 1px solid #16151C;}
.content-single-post .content-text {margin-top: 60px;padding-bottom: 60px}
.content-single-post .content-text h1, .content-single-post .content-text h2, .content-single-post .content-text h3, .content-single-post .sec-dark .title{font-size: 28px;font-weight: 700;padding: 20px 0;text-transform: uppercase;}
.content-single-post .content-text img{padding: 0 0; width: 100%; height: auto;}

.content-single-case .inner-post{border-bottom: none; margin-top: 40px}
.content-single-case{ padding: 0 }
.content-single-case .content-text {padding-bottom: 0}
.content-single-case .sec-dark{ margin: 60px auto 0;}
.content-single-case .sec-dark .title{padding: 0; text-align: center}
.content-single-case .sec-dark.title-header{padding: 0;display: grid;align-items: center;grid-template-columns: 60% 40%;background-color: #16151C;}
.content-single-case .sec-dark .box-text{padding-left: 40px;}
.content-single-case .sec-dark .box-text .title{font-size: 50px; margin-bottom: 5px}
.content-single-post .subtitle{font-size: 28px}
.content-single-case .breadcrumbs li a{text-transform: lowercase;}
.content-single-case .breadcrumbs li a:first-letter{text-transform: uppercase;}
.content-single-case .breadcrumbs li::after{content: '|'; display: inline-block; font-size: 16px; color:#16151C;margin: 0 10px;}
.content-single-case .breadcrumbs li:last-of-type::after{display: none;}

.bt-compartilhar a + a { margin-left: 10px;}
.bt-compartilhar i {width: 28px; height: 28px;}
.bt-compartilhar a:hover i{opacity: 0.8}
.bt-compartilhar{position: relative; margin-top: 10px}
.single-conteudo .bt-compartilhar i {background-color: #12304b;}

.sec-depoimentos{margin-top: 120px;}

.bt-mobile{width: 30px;}
.bt-mobile i.fa, .bt-mobile i.fas {background-color: #212529;}
.show-mobile, .bt-mobile, .bt-show{display: none}


/* Menu mobile  */
body.overflow {overflow: hidden;}
.full-menu {width: 100%; height: 100vh; position: fixed; top: 0; right: -100%; z-index: 9999999999; transition: 0.5s;}
.full-menu.show-menu {right: 0;}
.full-menu .overlay-menu {position: absolute; left: 0; top: 0; width: 100%; height: 100vh; background: rgba(0,0,0,.5); z-index: 10; cursor: pointer;}
.full-menu .bar-menu .logo {float: left; margin-bottom: 30px;}
.full-menu .bar-menu .logo img {width: 200px;}
.full-menu .bar-menu .close-menu {position: absolute; right: 25px; top: 20px; width: 36px; background: rgba(255,255,255,.3); text-align: center; border-radius: 5px; padding: 8px 0 1px;}
.full-menu .bar-menu .close-menu:hover {opacity: .8}
.full-menu .bar-menu {width: 100%; max-width: 380px; position: absolute; top: 0; right: 0; height: 100vh; background: #16151C; z-index: 50; padding: 20px 25px; overflow-x: hidden; overflow-y: scroll;}
.full-menu .bar-menu nav {display: table; width: 100%; margin-top: 20px; float: left;}
.full-menu .bar-menu ul {display: block; width: 100%; float: left; margin-top: 30px;}
.full-menu .bar-menu ul li {position: relative; border-bottom: 1px solid rgba(255 ,255,255,.06);}
.full-menu .bar-menu ul li, .full-menu .bar-menu ul li a {display: table; width: 100%;}
.full-menu .bar-menu ul li a {color: #fff; font-size: 16px; line-height: 20px; padding: 20px 0; position: relative; font-weight: 400;}
.full-menu .bar-menu ul li ul {display: none; width: 100%; padding: 15px 25px; background: rgba(255 ,255,255,.06); float: left;}
.full-menu .bar-menu ul li ul li, .full-menu .bar-menu ul li ul li a {border: none;}
.full-menu .bar-menu ul li ul li i {margin-right: -25px;}
.full-menu .bar-menu ul li ul li ul {width: calc(100% + 50px); margin-left: -25px;}


/* Home  */
.slider-home .slick-dotted.slick-slider{ margin-bottom: 30px;display: flex;align-items: center;height: 100%;}
.slider-home .slick-dots li{ bottom: 20px;}
.slider-home .slick-dots{bottom: 5px}
.slider-home .slick-dots li{ width: 40px;height: 2px;margin: 0 20px;background: #fff;transition: .2s;}
.slider-home .slick-dots .slick-active{ height: 5px!important;}
.slider-home .slick-dots li button{ width: 40px;margin-top: -7px;}
.slider-home.slick-dotted.slick-slider{ margin-bottom: 0;}
.slider-home{ top: -110px;/*display: grid;align-items: center;*/}
.banner{margin-right: 0!important;margin-left: 0!important;}
.banner .title-large{ color: #fff;max-width: 960px;text-align: center;margin: 0 auto; font-weight: 400}
.banner .title-large strong{font-weight: 700}
.banner-frost p{position:relative;text-align: end!important;left: -450px;top: 120px;font-size: 45px;}
.bt-home .vc_btn3.vc_btn3-shape-rounded {border-radius: 50%}
.bt-home .vc_general.vc_btn3.vc_btn3-style-outline, .banner .vc_general.vc_btn3.vc_btn3-style-outline-custom { padding: 10px 18px 6px;line-height: 20px;}

.vc_row[data-vc-full-width].sec-empresas{overflow: visible}
.sec-empresas .container{ position: relative;margin-top: -90px;display: flex;margin-bottom: 60px;}
.sec-empresas h2{background-color: #12304b;color: #fff;padding: 60px 0;font-weight: 600;font-size: 24px;margin: 0 auto}
.sec-empresas img{ margin: 80px auto 50px;}
.sec-empresas .item{ position: relative;padding: 0 20px 80px;}
.sec-empresas .bt{ position: absolute;bottom: 0;left: calc(50% - 67px);}

.home-infos{margin-top: 30px;min-height: 300px;}
.home-infos .sec-dark{margin-top: 0;}
.home-infos .box-text{position: relative;z-index: 200;}
.home-infos .sec-dark  .title{ margin-bottom: 30px;}
.home-infos .sec-dark  .bt{margin-top: 20px;}
.home-infos.vc_section.vc_section-has-fill{padding-top: 0;}
.home-infos .wpb_content_element{margin-bottom: 0;}
.home-infos .box-image{position: absolute!important;z-index: 100;top: 0!important;left: 0!important;}
.home-infos .box-image .vc_column_container>.vc_column-inner{padding-left: 0;padding-right: 0;}
.home-infos .box-image img{min-height: 300px; object-fit: cover; }
.home-infos .box-text{position:relative;z-index: 2000}
.home-infos .left-text{padding-right: 40px}
.home-infos .right-text{padding-left: 40px;}

.home-posts .card-case{ margin: 0;width: 100%;}
.home-posts .card-case .thumb{ height: 140px;position: relative;}
.home-posts .card-case a{ display: block;}
.home-posts .card-case .thumb::before{ content: '';height: 100%;width: 100%;background-color: rgba(18,48,75,.6);position: absolute; z-index:100;}
.home-posts .descricao{ padding-left: 20px;text-transform: uppercase;color: #12304b;font-weight: 600;font-size: 18px;margin-bottom: 20px;display: block;border-left: 1px solid #12304b;}
.home-posts .card-case img {object-fit: cover;width: 100%;}

/*Conteudo*/
.slick-next, .slick-prev{ width: 34px;height: 34px;border-radius: 50%;border: 2px solid #12304b;right: -20px;top: 115px;background-color: #f5f5f5;}
.slick-next::before{ content: url('../../../images/ico-next.png');line-height: 30px;opacity: 1;font-size: 28px;margin-left: 3px;color: #12304b;}
.slick-prev::before{ content: url('../../../images/ico-previous.png');line-height: 30px;opacity: 1;font-size: 28px;margin-right: 3px;color: #12304b;}
.slick-next:hover, .slick-prev:hover{background-color: #12304b;}
.slick-next:hover::before, .slick-prev:hover::before{    filter: invert(100%) grayscale(100%);}
.carousel-conteudo .slick-prev{ display: none;visibility: hidden;}
.card-case{ margin-right: 40px;width: 100%;}
.card-case h3{ font-size: 18px;color: #211915;margin-top: 10px;font-weight: 800;display: block; height: 52px;}
.card-case .content-text::first-letter,.card-case h3::first-letter{ text-transform: uppercase;}
.card-case .content-thumb{overflow: hidden}
.card-case .thumb{ width: 100%;height: 230px;}
.card-case .thumb:hover{transform: scale(1.1);}
.card-case .content-text{ height: 54px;overflow: hidden;margin: 10px 0;text-transform: lowercase;font-size: 13px;}
.card-case .content-text *{ text-transform: lowercase;}
.card-case .content-text p{ line-height: 18px;cursor: text;color: #211915;font-size: 15px;margin: 0;}
.card-case img {height:inherit; object-fit: cover;transition: 0.5s;width: 100%;}
.card-case a.thumb:hover img {transform: scale(1.1);}

.carousel-release .carousel-conteudo .slick-next{background-color: #fff;}
.carousel-conteudo .slick-next:hover{background-color: #12304b;}
.carousel-conteudo .slick-next:hover::before{ color: #fff;}

.form-search{ margin-top: 20px;position: relative;}
.form-search input{ height: 45px;border: 1px solid #b3b3b3;text-indent: 20px;margin: 0;width: 100%;padding: 0;color: #16151c;}
.form-search input::placeholder{ color: #16151c;}
.form-search input[type=submit]{ width: 50px;height: 43px;top: 1px;position: absolute;border: none;right: 1px;background: transparent url(../../../images/icone-buscar.png);background-size: 20px;background-position-y: center;background-repeat: no-repeat;background-position-x: 15px;}
.more-posts{ padding: 140px 0 90px;}
.more-posts .title{ margin-bottom: 40px;}
.more-posts .card-case{ margin-bottom: 20px;}
.wrap-pagination{ display: table;width: 100%;}
.wrap-pagination .pagination{ display: table;margin: 0 auto;}
.wrap-pagination .pagination a,.wrap-pagination .pagination span{ float: left;line-height: 30px;padding: 0 15px;border-radius: 5px;color: #4c4c4c;}
.wrap-pagination .pagination span{ background: #f2f2f2;}
.wrap-pagination .pagination .nextpostslink,.wrap-pagination .pagination .previouspostslink{ color: #fff;background: #12304B;}


/* Sobre */
.nav-tab .vc_tta-tab>a, .nav-tab .vc_tta-tab>a:hover, .vc_tta-panel-heading:hover{background: none!important;}
.nav-tab .vc_tta-tab>a,
.vc_tta-color-white.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title>a,
.vc_tta-color-white.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-heading,
.vc_tta-color-white.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading{color: #16151C !important;border: none!important;font-size: 18px;cursor: pointer;}
.nav-tab .vc_tta-tab.vc_active>a, .vc_tta-color-white.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title>a{color: #12304B;font-weight: 700;border: none;}

.sec-historia .nav-tab .vc_tta-tabs-list, .vc_tta.vc_general .vc_tta-panel-heading{border:none;border-bottom: 1px solid #000000;}
.sec-historia .nav-tab .title{font-weight: 600; color: #211915;}
.sec-historia .box-text{position: relative; padding-left: 50px}
.sec-historia .box-text::before{content: '';width: 40px;height: 40px;left: 0;top: 55px;position: absolute;z-index: 1000;border-top: 25px solid transparent;border-bottom: 25px solid transparent;border-left: 35px solid #12304B;}
.sec-historia .vc_tta.vc_general .vc_tta-tab:first-child a{padding-left: 0}
.sec-historia .vc_tta-tabs.vc_tta-o-no-fill .vc_tta-tabs-list{display: flex;justify-content: space-between;}
.sec-historia .vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-panel .vc_tta-panel-body,.sec-historia .vc_tta-tabs.vc_tta-tabs-position-bottom .vc_tta-panel .vc_tta-panel-body {
   -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -sand-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    animation: fadein 1s;
}



.sec-historia ::-webkit-scrollbar { border: none;background: 0 0; width: 0;opacity: 0; height: 2px }
.sec-historia ::-webkit-scrollbar-button{display: none}
.sec-historia ::-webkit-scrollbar-track-piece, .list-title::-webkit-scrollbar-track{background: none}
.sec-historia ::-webkit-scrollbar-thumb{background: #000;border-radius: 5px; height: 2px;}

.home-infos.sec-solucoes .box-image{max-height: 100%;}
.home-infos.sec-solucoes .box-image img{padding-top: 40px;}
.home-infos.sec-solucoes .box-image.space img{max-height: initial;}

.executivos .col-md-4{ margin-bottom: 40px; display: grid;position: relative}
.card-executivos{ position: relative;width: 70%;padding-bottom: 30px; height: 100%; display: flex; flex-direction: column;}
.card-executivos .cargo,.card-executivos .title{ font-size: 18px;margin-top: 10px;font-weight: 700;color: #16151c;}
.card-executivos .cargo{ font-weight: 400;text-transform: uppercase;    margin: 0 0 20px;}
.card-executivos .bt{position: absolute; bottom:0 }
.card-executivos img {width: 245px; height: 245px;object-fit: cover;}


/*Marcas */
.sec-title-marcas .title{font-weight: 600}
.sec-title-marcas .title::before{ content: '|';font-weight: 700;position: relative;left: -30px;margin-right: 30px;display: inline-block;color: #fff;height: 40px;width: 20px;font-size: 28px;}
#code7,#cxdzain,#flex{ position: relative;}
#code7::after,#cxdzain::after,#flex::after{ content: '';display: block;position: absolute;right: 0;top: 0;width: 25%;height: 100%;}
#cxdzain::after{ background-color: #234230;}
#code7::after{ background-color: #1c258d;}
#flex::after{ background-color: #fdb813;}
.sec-content-marcas img{ position: relative;top: -70px;}
.sec-content-marcas p + p{ margin-top: 25px;}
.sec-content-marcas .bt{ margin-top: 40px; padding: 0 60px;}
.sec-content-marcas p{line-height: 30px}
.sec-title-marcas .wpb_single_image img{ max-width: 220px;}


/*Sociambiental*/
.sec-intro-sociambiental .vc_column_container>.vc_column-inner{padding-left: 0;padding-right: 0;}
.vc_section.sec-intro-sociambiental {margin: 0 auto;border-bottom: 1px solid #000000;}
.sec-intro-sociambiental .title{font-weight: 600}
.sec-intro-sociambiental  .wpb_content_element{margin-bottom: 0;}
.sec-intro-sociambiental .sec-dark{background-repeat: no-repeat; background-size: 33.33333333% 100%;  }
.sec-intro-sociambiental .vc_row-has-fill>.vc_column_container>.vc_column-inner{padding-top: 0;}
.sec-content-socioambiental .vc_tta.vc_general .vc_tta-tab>a {padding: 0 10px 10px; text-transform: uppercase;}
.sec-intro-sociambiental .wpb_single_image img {height: 100%;object-fit: cover;  ::-webkit-object-fit: cover;}
.sec-intro-sociambiental .row-text{display: flex; display:-webkit-flex;  flex-wrap: wrap; ::-webkit-flex-wrap:wrap;}
.sec-intro-sociambiental .vc_col-sm-8{}
.row-text .vc_column_container{display: flex; display:-webkit-flex;}
.sec-content-socioambiental .nav-tab .vc_tta-tab.vc_active>a, .sec-content-socioambiental  .vc_tta-color-white.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title>a{font-weight: 800}
.sec-content-socioambiental p{line-height: 30px}
.sec-content-socioambiental .list-administrativos{margin-top: 0;}
.sec-content-socioambiental .vc_tta-color-white.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading{font-size: 16px}
.sec-content-socioambiental .vc_tta.vc_general .vc_tta-tabs-list{width: 220px}
.sec-content-socioambiental .vc_tta.vc_general .vc_tta-tab{display: flex}
.sec-content-socioambiental .vc_tta.vc_general .vc_tta-tab>a:hover{font-weight: 700}
.sec-content-socioambiental .vc_tta.vc_general  .vc_tta-tab::before{content: url("../../../images/ico-next.png"); width: 13px; height: 20px; display: inline-block;margin-right: 2px; margin-top: 2px;}


/*Carreira*/
.sec-intro-cultura .title{ font-weight: 600;text-shadow: -2px 2px 2px #edeff4;line-height: 50px; font-size: 38px}
.sec-intro-cultura .title strong{ font-weight: 800;font-size: 50px; line-height: 60px}
.sec-cultura .bt{ margin-top: 0;height: auto;line-height: 22px;padding: 10px 0;}
.sec-cultura-def .title-large{font-size: 42px}
.sec-cultura .title-large{ font-size: 42px;color: #16151c;}
.sec-cultura .bt{ width: 100%;text-align: center;margin-top: 50px;font-size: 18px}
#slide-depoimento .slick-arrow{ top: 50%;z-index: 1000;}
#slide-depoimento .slick-next{right: 0}
#slide-depoimento .slick-prev{left: 0}
#slide-depoimento img{ filter: grayscale(100%);}
#slide-depoimento strong {font-weight: 800}
.sec-cultura-images .wpb_content_element{margin-bottom: 0}
.sec-cultura-images .vc_row{display: flex}
.col-bg .vc_column-inner,.col-bg .wpb_wrapper{ display: flex;height: 100%;}
.sec-cultura-images p{ text-transform: uppercase;font-weight: 800;color: #fff;padding: 0 20px;}
.sec-cultura-images .bloco-text .wpb_wrapper{ display: flex;height: 100%;align-items: center;}

/*Investidor */
.bloco-banner-titulo .title-large{ color: #fff;width: 80%;}
.box-investimento *{ color: #fff;font-size: 20px;}
.bloco-b3{ margin-top: -106px;}
.sec-socioambiental .sec-dark hr{ height: 1px;width: 100%;border: none;background-color: #ededf2;}
.sec-socioambiental .sec-dark .card-socioambiental{ margin-top: 20px;}
.sec-socioambiental .sec-dark .card-socioambiental a + a{ margin-left: 20px;}
.sec-sec-socioambiental .wpb_single_image img {max-width: 101%;height: min-content;}
.sec-dark .card-socioambiental a:hover,.sec-socioambiental .sec-dark .card-socioambiental a{ font-weight: 700;color: #fff;}
.home-infos.sec-socioambiental .title-large{ font-size: 42px;}
.home-infos.sec-socioambiental .box-image{    top: initial !important;    left: initial !important;    z-index: 5000;}
.home-infos.sec-socioambiental .box-text{position: relative;z-index: 4000;}
.home-infos.sec-socioambiental .box-text img{min-width: 110%; padding-left: 12px}
.sec-contact .title{ font-size: 18px;}
.sec-contact a,.sec-contact p{ line-height: 1.6em;color: #16151c;}
.sec-contact a:hover{ font-weight: 600;}
#tabs .vc_tta-tabs-list{ display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 30px;}
#tabs .vc_tta-tabs-list .vc_tta-tab{ height: 100%;}
#tabs .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a,#tabs .vc_tta-tabs-list .vc_tta-tab > a{ cursor: pointer;min-height: 100%;color: #12304b;border: 2px solid #12304b!important;text-align: center;padding: 15px 0;border-radius: 0;font-weight: 600;font-size: 22px;text-transform: uppercase;display: flex;align-items: center;justify-content: center;}
#tabs .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a,#tabs .vc_tta-tabs-list .vc_tta-tab.vc_active > a{ background-color: #12304b!important;color: #fff!important;}

.list-documentos,.list-materiais , .list-administrativos{ margin-top: 60px;padding: 0 15px;}
.list-documentos ul{ border-bottom: 1px solid #000;margin-bottom: 60px;padding-bottom: 30px;}
.list-documentos li{ display: inline-block;cursor: pointer;}
.list-documentos li::before{ content: '';display: inline-block;width: 1px;height: 20px;margin-right: 15px;position: relative;top: 5px;background-color: #16151c;}
.list-documentos li:first-child::before{ display: none;}
.list-documentos li{ color: #16151c;margin-right: 15px;}
.list-documentos li.ativo{ font-weight: 700;}
.list-documentos .content-tabs{width: 100%}
.list-documentos .wrapper{ padding: 20px 20px 15px;background-color: #f5f5f5; display: grid; grid-template-columns: 1fr 65px 65px 65px 65px; column-gap: 20px;border-bottom: 5px solid #fff}
.list-documentos .wrapper div{ color: #171717;font-size: 16px;font-weight: 600; }
.list-documentos .wrapper div a{display: flex; justify-content: center}
.list-documentos .wrapper-head{background: none; padding: 20px 20px 0;}
.list-documentos .wrapper-head div{ font-weight: 800;color: #12304B;font-size: 18px;text-align: center}
.list-documentos .content-tabs{ display: none;}
.list-documentos .content-tabs.ativo{ display: table;}
.list-documentos .descri{ grid-column: 1/6;padding: 10px 20px 0;text-align: left;}
.list-documentos .wrapper .descri a{ font-weight: 400;color: #16151c;display: grid;grid-template-columns: 1fr 50px 50px 50px 50px ; column-gap: 13px;}
.list-documentos .wrapper .descri img{grid-column: 2/3;margin: 0 auto}
.list-documentos .no-archive{ cursor: auto;opacity: .2; display: grid; justify-content: center}
.list-documentos .no-archive img{ margin-top: 3px;}
.list-documentos .wrapper-ano{  margin-top:40px ;}
.list-documentos .wrapper-ano .ano-name{grid-column: 2/6; text-align: left; padding-left: 10px}

.list-materiais .js-tabcontent section{ display: none;}
.list-administrativos .wrapper,.list-materiais .js-tabcontent section.ativo{ display: grid!important;grid-template-columns: 1fr 50px;animation: show .5s forwards;}
.list-materiais .js-tabcontent section.ativo{grid-template-columns: 1fr 40px; row-gap: 20px; column-gap: 10px}
.list-materiais .js-tabcontent section.ativo p{ grid-column: 1/3;margin-bottom: 5px;font-weight: 600;}
.list-materiais{ display: grid;grid-template-columns: auto 1fr;gap: 20px;}
.list-administrativos .wrapper,.list-materiais li,.list-materiais section{ padding: 20px 20px 15px;background-color: #f5f5f5;}
.list-materiais li{ background-color: #f9f9f9;}
.list-materiais section p{ grid-column: 1/3;}
.list-administrativos .wrapper,.list-materiais .js-tabmenu li{ cursor: pointer;color: #16151c;margin-bottom: 10px;}
.list-materiais .js-tabmenu li.ativo{ background-color: #ebebeb;}

.list-materiais ::-webkit-scrollbar { border: none;background: 0 0; width: 0;opacity: 0; height: 2px }
.list-materiais ::-webkit-scrollbar-button{display: none}
.list-materiais ::-webkit-scrollbar-track-piece, .list-title::-webkit-scrollbar-track{background: none}
.list-materiais ::-webkit-scrollbar-thumb{background: #000;border-radius: 5px; height: 2px;}


.list-administrativos .wrapper{ margin-bottom: 10px;}

.list-documentos ::-webkit-scrollbar { border: none;background: 0 0; width: 0;opacity: 0; height: 2px }
.list-documentos ::-webkit-scrollbar-button{display: none}
.list-documentos ::-webkit-scrollbar-track-piece, .list-title::-webkit-scrollbar-track{background: none}
.list-documentos ::-webkit-scrollbar-thumb{background: #000;border-radius: 5px; height: 2px;}


@media only screen and (min-width: 1921px){
    .sec-cultura-images .wpb_single_image img{width: 140%;  object-fit: cover;}
    .sec-cultura-images .wpb_single_image .vc_figure{min-width: 100%;}
    .sec-cultura-images .wpb_single_image .vc_single_image-wrapper{min-width: 100%;}
}
/* Laptop */

@media only screen and (min-width: 1370px){
    .home-infos .box-image img,.home-infos .box-text{ min-height: 400px;}
    .home-infos.sec-socioambiental .box-text img{ position: relative;top: -15%;min-width: 115%;height: auto;}
    .sec-cultura-images p{ font-size: 20px;}
}

@media only screen and (min-width: 1600px){
    .sec-cultura-images p{ font-size: 26px;}
}

@media only screen and (max-width: 1199px) {
    .last-col * {display: none}
}

/* Tablet */
@media only screen and (max-width: 991px){
    .title-large{ font-size: 36px;}
    .title{ font-size: 24px;}
    footer .redes-sociais li{ float: right;}
    footer .top-footer .logo {margin-left: 0;}
    .content-single-case .sec-dark{ padding: 40px;}
    .content-single-post #breadcrumbs{ font-size: 14px;}
    .content-single-post .sec-dark .title{font-size: 24px}
    .sec-empresas h2{ font-size: 20px;}
    .sec-empresas .item{ position: relative;padding: 0 0 80px;}
    .carousel-conteudo .slick-next{ top: 80px;}
    .card-case .thumb{ height: 180px;}
    .card-executivos{ width: 100%;}
    .nav-tab .vc_tta-tab > a{ padding: 14px 15px!important;}
    .home-infos.sec-socioambiental .box-image{ height: auto;}
    .home-infos.sec-socioambiental .title-large{ font-size: 28px;}
    .home-infos.sec-socioambiental .box-text{ min-height: auto;}
    .home-infos.sec-socioambiental .box-text img{min-width: 140%; }
    .sec-content-socioambiental .vc_tta.vc_general .vc_tta-tab::before{margin-top: 16px;}
    .sec-intro-sociambiental .wpb_single_image img{height: 200px;}
    .sec-cultura .wpb_single_image img{ max-width: 130%;}
    .sec-cultura .title-large{ font-size: 38px;}
    .sec-cultura .bt{ margin-top: 0;}
    .list-documentos .wrapper{ padding-bottom: 5px;position: relative; display: grid;}
    #tabs .vc_tta-tabs-list .vc_tta-tab > a{padding: 5px 0}
    #tabs .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a,#tabs .vc_tta-tabs-list .vc_tta-tab > a{font-size: 16px}
    .sec-intro-cultura .title{ font-size: 28px; line-height: 34px}
    .sec-intro-cultura .title strong{font-size: 42px; line-height: 50px}
    .list-materiais{grid-template-columns: 50% 50%}

}
/* Mobile default */
@media only screen and (max-width: 767px){
    .sec-content-socioambiental .vc_tta.vc_general .vc_tta-panel-body,.vc_tta-color-white.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title > a,.vc_tta.vc_general .vc_tta-panel-title > a{ padding-left: 0;padding-right: 0;}
    header nav{ display: none;}
    header .logo{ float: none;margin-top: 5px;display: inline-block;}
    header .open-menu{ display: block;}
    .wrap-page{ padding-top: 108px;}
    .full-menu .bar-menu .right-buttons a{ width: 100%;text-align: center;margin-bottom: 10px;}
    footer .top-footer{ padding-bottom: 40px;}
    footer .logo-empresas{ margin-top: 40px;}
    footer .footer-menu{ margin: 20px 0 40px;}
    footer .info-contato{ margin: 10px 0;}
    footer .redes-sociais{ float: none;}
    footer .redes-sociais li{ display: inline-block;margin-bottom: 0;}
    footer .redes-sociais li + li{ margin-left: 20px;}
    .title{ font-size: 24px;}
    .title-large{ font-size: 28px;}
    .form-search{ margin-top: -60px;}
    .content-single-post .content-text h1,.content-single-post .content-text h2,.content-single-post .content-text h3,.content-single-post .subtitle{ font-size: 24px;}
    .content-single-post{ padding: 60px 0;}


    .content-single-case{ padding: 0;}
    .content-single-case .sec-dark .title{text-align: left}
    .content-single-case .sec-dark.title-header{ grid-template-columns: 1fr;margin-top: 20px;}
    .content-single-case .box-text{padding: 40px 20px}
    .content-single-post #breadcrumbs{ padding-bottom: 30px;font-size: 13px;}
    .content-single-post .content-text{ margin-top: 20px;}
    .sec-empresas .container{ display: block;}
    .sec-empresas .item{ margin-bottom: 40px;}
    .home-infos .left-text,.home-infos .right-text{padding: 0}
    .home-infos .box-image{ position: relative!important;max-width: 100%;}
    .home-infos .box-text{ padding: 40px 0;}
    .home-infos .box-image img{ height: auto;min-width: 100%;position: relative;padding: 40px 0;min-height: inherit;}
    .home-infos{ display: flex;flex-direction: column;}
    .home-infos .box-text{ order: 1;}
    .home-infos .box-image{ order: 2;}
    .home-posts .col-md-4 + .col-md-4,.investidor-posts .col-md-4 + .col-md-4{ margin-top: 40px;}
    .carousel-conteudo .slick-next{ top: 90px;}
    .card-case .thumb{ height: 200px;}
    .sec-title-marcas .title::before{ display: none;}
    .sec-content-marcas img{ top: 60px;}
    .sec-content-marcas{ display: flex;flex-direction: column;}
    .sec-content-marcas .vc_col-sm-4{ order: 1;}
    .sec-content-marcas .vc_col-sm-7{ order: 2;}
    .subpage{ padding-top: 90px;}
    .sec-cultura .wpb_single_image img{ max-width: 140%;}
    .sec-intro-cultura.vc_custom_1615318767891{background-image: none!important; background-color: #f5f5f5}
    .sec-cultura-def .title-large, .sec-cultura .title-large{font-size: 24px;}
    #slide-depoimento .slick-arrow{ top: 20%;}
    #tabs .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a{ margin-bottom: 40px;font-size: 16px;}
    #tabs .vc_tta-panel .vc_tta-panel-heading{ background: 0 0;border: none;}
    #tabs .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a{padding: 30px 0}
    .card-executivos {text-align: center;}
    .card-executivos .bt{position: relative;}
    .card-executivos img {display: inline-block;}
    .list-documentos { margin-top: 0;}
    .list-documentos .wrapper{grid-template-columns: 1fr 1fr 1fr 1fr;margin-bottom: 1px; grid-row-gap: 20px; padding-bottom: 20px}
    .list-documentos .wrapper > div:first-of-type{ grid-column: 1/5; border-bottom: 1px solid #c4c4c4; padding-bottom: 10px}
    .list-documentos li + li{margin-left: 0}
    .list-documentos .wrapper.wrapper-head{display: none;}
    .show-mobile{display: block; font-weight: 800;color: #12304B;font-size: 18px; }
    .sec-intro-cultura .title{ font-size: 24px; line-height: 30px}
    .sec-intro-cultura .title strong{font-size: 38px; line-height: 45px}
    #slide-depoimento .wpb_single_image{ padding: 0 60px;}
    #slide-depoimento .wpb_single_image{ max-width: 350px;margin: 0 auto 30px;}
    .sec-cultura-images .vc_row{flex-wrap: wrap}
    .sec-cultura-images .bloco-text{padding: 80px 40px }

    .list-documentos .wrapper div a{display: block}
    .list-documentos,.list-materiais , .list-administrativos{ margin-top: 0;}
    .list-documentos .wrapper .descri a{grid-template-columns: 1fr 30px;row-gap: 10px}
    .list-documentos .wrapper .descri a  img{grid-column: 2/3}
    .list-documentos .descri {padding: 10px 0}
    .list-documentos .no-archive{justify-content: normal}
    .list-materiais .js-tabcontent section.ativo, .list-administrativos .wrapper{grid-template-columns: 1fr 20px; align-items: center;row-gap: 25px; column-gap: 10px}
    .sec-historia .vc_tta-tabs.vc_tta-o-no-fill .vc_tta-tabs-list{ margin-left: 0;white-space: nowrap;overflow-x: scroll;order: 1;}
    .sec-historia .vc_tta.vc_tta-o-no-fill.vc_tta-tabs .vc_tta-tabs-container{ display: flex;gap: 20px;align-items: center;}
    .sec-historia .vc_tta.vc_tta-o-no-fill.vc_tta-tabs .vc_tta-tabs-container .bt-prev{ order: 0;}
    .sec-historia .vc_tta.vc_tta-o-no-fill.vc_tta-tabs .vc_tta-tabs-container .bt-next{ order: 2;}
    .sec-historia .bt-mobile{ display: block;cursor: pointer;}
    .bt-show{display: block; transition: .3s ease-in-out; margin-right: 10px;}
    .sec-content-socioambiental .vc_tta.vc_general .vc_tta-tabs-list{width: 100%}
    .sec-content-socioambiental .vc_tta-panel.vc_active a{cursor: pointer}
    .sec-content-socioambiental .vc_tta-title-text{display: flex}
    .sec-content-socioambiental .vc_tta-title-text::before{content: url("../../../images/ico-next.png"); width: 13px; height: 20px;   display: inline-block;  margin-right: 10px; }
    .sec-content-socioambiental .vc_tta-panel.vc_active a.active .vc_tta-title-text::before {transform: rotate(90deg);}
    .sec-content-socioambiental .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body{display: none}
    .sec-content-socioambiental .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body.active{display: block}
    .sec-content-socioambiental .nav-tab .vc_tta-tab.vc_active>a, .sec-content-socioambiental  .vc_tta-color-white.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title>a{font-weight: 400}
    .sec-content-socioambiental .nav-tab .vc_tta-tab.vc_active>a.active, .sec-content-socioambiental  .vc_tta-color-white.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title> a.active{font-weight: 800}

    .list-materiais{display: block}
    .list-materiais .bt-mobile{ display: block;cursor: pointer;}
    .list-materiais .listar-materiais{display: flex; justify-content: space-between;align-items: center; column-gap: 20px;margin-bottom: 30px}
    .list-materiais .js-tabmenu{white-space: nowrap;overflow-x: scroll;display: flex; list-style: none;}
    .list-materiais .js-tabmenu li{white-space: pre-wrap;display: flex;align-items: center;}
    .list-materiais .js-tabmenu li + li{margin-left: 15px}
    .list-materiais section{background-color: #fff; }

    .home-infos.sec-socioambiental .box-text {position: static;order: 2; min-height: auto; }
    .home-infos.sec-socioambiental .box-text img{ max-width: 100%;min-width: auto}
    .home-infos.sec-socioambiental .box-image{order: 1; padding: 40px 0 0}

}

@media only screen and (max-width: 520px){
    .list-documentos .listar-anos{ display: flex;gap: 20px;margin-bottom: 30px;}
    .list-documentos .list-title{ white-space: nowrap;overflow-x: scroll;margin-bottom: 20px;}
    .bt-mobile{ display: block;cursor: pointer;}
}

@media only screen and (max-width: 576px) {
    .title-large{ font-size: 24px;}
    .subpage{ padding-top: 60px;}
    .carousel-conteudo .slick-next{ right: -20px;}
    .card-case{ margin-right: 0;width: 100%;}
    .sec-cultura .wpb_single_image img{ max-width: 180%;}
    .bloco-banner-titulo .title-large{ margin-bottom: 30px;}
    #tabs{ margin-top: -60px;}
    footer .redes-sociais li{ float: none;}
    .sec-historia .box-text::before{ width: 15px;height: 15px;border-top: 20px solid transparent;border-bottom: 20px solid transparent;border-left: 30px solid #12304b;}
    .sec-historia .box-text{ padding-left: 25px;margin-bottom: -60px;margin-top: -60px;}

    #slide-depoimento .wpb_single_image{ max-width: 300px;margin: 0 auto 30px;}
    .card-executivos a{ display: block;}
    .content-single-case .sec-dark.title-header .title-large{font-size: 24px}
    .content-single-case .sec-dark.title-header .subtitle{font-size: 18px}
    .content-single-case .sec-dark .box-text{padding-left: 20px}
    .slider-home .slick-dots li{ width: 30px;margin: 0 10px;transition: .2s;}
    .slider-home .slick-dots li button{width: 30px;}
    #slide-depoimento .slick-arrow{ top: 15%;}

}

/* Mobile (small like Iphone 5S) */
@media screen and (max-width: 360px){
    .full-menu .bar-menu .right-buttons a{ margin-bottom: 20px;}
    footer .copy{ padding: 15px 0;}
    footer .copy .container{ display: grid;gap: 10px;text-align: center;justify-items: center;}
    .banner .title-large{ max-width: 300px;font-size: 20px;}
    .carousel-conteudo .slick-next{ top: 70px;right: -20px;}
    .card-case{ margin-right: 0;width: 100%;}
    .card-case .thumb{ height: 150px;}
    .home-infos.sec-socioambiental .title-large{ font-size: 24px;}
    .list-documentos tbody td:first-child{ min-width: 200px;}
    #code7::after,#cxdzain::after,#flex::after{ width: 10%;}
    .bloco-b3 .wpb_single_image img{ max-width: 150px;}
    .sec-cultura .title-large{ font-size: 24px;}
    .sec-cultura{ margin-bottom: -20px;}
    #slide-depoimento{ margin-bottom: -40px;}
    #slide-depoimento .slick-arrow{ top: 10%;}

}

/*Animações*/
@keyframes fadein {
    from { opacity: 0; transform: translate3d(-100px, 0,  0)}
    to   { opacity:1; transform: translate3d(0, 0,  0) }
}